.contenido-general-card {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.contenedor-button button {
  width: 100%;
}

h5 span {
  background-color: #556ee6;
  color: white;
  font-size: 0.6rem;
  font-weight: 400;
  padding: 0.1rem 0.5rem;
  border-radius: 2.5px;
  margin-left: 0.5rem;
  white-space: nowrap;
}
