.estadoPendiente,
.estadoDesconocido {
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #ffdddd;
  color: #8b0000;
}

.estadoActivo {
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #d4edda;
  color: #155724;
}
