.contenido-layout {
  position: relative;
}
.topbar {
  background-color: red;
  position: absolute;
  right: 0;
//   height: 50px; /* Altura del topbar */
//   width: 100%;
}
#sidebar-menu {
  width: fit-content;
  position: relative;
  padding-right: 3rem;
  height: 100vh;
  background-color: #2a3042;
  li {
    &:hover {
      span,
      i {
        color: white;
        transition: all 0.5s;
      }
    }
  }
  span {
    color: #7f8387;
    font-weight: 500;
  }
}
